body{
    background-color: blueviolet;
    padding: 3px;
    margin: auto;
}


.text-area{
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 20px;
    border-radius:15px;
}

.btn {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    background-color: aqua;
    border-radius: 15px ;
    font-size: 25px;
}